#popup {
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .8s;
    background-color: #fed7aa;
    width: 350px;
    height: 350px;
}

#close {
    z-index: 1001;
    /* background-color: #e00a1c; */
    color: #d31020;
    /* border: none; */
    /* border-radius: 2px; */
    padding: 5px;
    /* margin: 5px 0 8px 0; */
    position: absolute;
    /* margin: 0 auto; */
    top: 0%;
    left: 90%;
    font-size: 24px;
    /* border: 2px solid rgba(0, 0, 0, 0.7); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;

}

#close:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    filter: brightness(2);
}

#popup-img {
    border: 2px solid #ffffff;
    width: 350px;
    height: 350px;
}


.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
