#popup {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fed7aa;
    border: 2px solid #ffffff;
}

#container-close {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

#close {
    background-color: #e00a1c;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0 8px 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;

}

#close:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    filter: brightness(.6);
}

#popup-img {
    border: 2px solid #ffffff;
    width: 350px;
    height: 350px;
}
